NEXT_PUBLIC_SUPABASE_ANON_KEY="<supabase-anon-key>"
NEXT_PUBLIC_SUPABASE_URL="<supabase-api-url>"
NEXT_PUBLIC_IS_PREVIEW=true
NEXT_PUBLIC_WILDCARD_DOMAIN=db.example.com

OPENAI_API_KEY="<openai-api-key>"
S3_ENDPOINT=http://localhost:9000
S3_BUCKET=test
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin

