AWS_ACCESS_KEY_ID=625729a08b95bf1b7ff351a663f3a23c
AWS_ENDPOINT_URL_S3=http://localhost:54321/storage/v1/s3
AWS_S3_BUCKET=s3fs
AWS_SECRET_ACCESS_KEY=850181e4652dd023b7a98c58ae0d2d34bd487ee0cc3254aed6eda37307425907
AWS_REGION=local
# Vercel KV (local Docker available)
KV_REST_API_TOKEN="local_token"
KV_REST_API_URL="http://localhost:8080"
OPENAI_API_KEY="<openai-api-key>"
# Optional
# OPENAI_API_BASE="<openai-compatible-api>"
# OPENAI_MODEL="<model>"
NEXT_PUBLIC_IS_PREVIEW=true
NEXT_PUBLIC_SUPABASE_ANON_KEY="<supabase-anon-key>"
NEXT_PUBLIC_SUPABASE_URL="<supabase-api-url>"
NEXT_PUBLIC_WILDCARD_DOMAIN=db.example.com